img {
    border: 5px gold groove;
    padding: 0.5em;
    margin: 10px;
}

div {
    margin: 10px;
    padding: 1 50px;
    border: 5px #00674F groove;
    border-width: 200px;
    background-color: #00674F;
    color: lightgray;
    font-size: large;
    padding-bottom: 50px;
}

footer {
  background: #2e5a40;  /* example */
  color: white;
  text-align: center;
  padding: 15px;
}