img {
    border: 5px gold groove;
    padding: 0.5em;
    margin: 10px;
    border-width: 200px;
}

div {
    margin: 0px;
    padding: 0 50px;
    border: 5px #00674F groove;
    border-width: 200px;
}