body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
} 

#titleBG {
  background-color: #002D04 !important;
}

h1 {
    background-color: #002D04 !important;
    color: white;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

li {
  border-left: solid 1em #eeeeee;
}