body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
} 

#titleBG {
  background-color: #002D04 !important;
}

h1 {
    background-color: #002D04 !important;
    color: white;
}

menu {
  display: flex;
  flex-direction: row !important;
  background-color: #002D04;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
  color:#002D04
}

li {
  background: #eeeeee;
  padding: 0.25em;
  margin-bottom: 0.5em;
  border-left: solid 1em #eeeeee;  
}

.form-control {
  width: 200px;
}

.input {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  background-color: #002D04;
  color: #002D04;
  border:2px gold solid;
  padding: 0.3em;
}

body {
  background-color: white;
}

#footerDiv {
  background-color: #002D04;
  color:white;
}

.text-reset {
  color: white;
}