.biggerNumbers li::marker {
    font-size: 30px;
    font-weight: bold;
}

.bigNumbers li::marker {
    font-size: 25px;
    font-weight: bold;
}

button {
    padding: 0.5em;
    margin: 3px;
}

#edit {
    background-color:#00674F;
    color: lightgray;
}

img {
    width: 200px; 
    height: 300px; 
    padding: 0.5em;
}

ul {
    list-style-type: none;
}
