#profilePic {
    border: 4px groove gold;
    margin: 2px;
    padding: 1em;
}

#bioDetails {
    border: 4px groove gold;
    margin: 2px;
    padding: 1em;
    list-style-type: none;
}

#profileEdit {
    background-color:#00674F;
    color: lightgray;
    margin: 0.5em;
}

#blurb {
    margin: 1.5em;
}