#primaryButton {
  background-color: #00674F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.btn {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

#welcomeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loginButton {
  max-width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}

input {
    border-radius: 50px;
    padding: 10px 20px;
}
