img {
    border: 5px gold groove;
    padding: 0.5em;
    margin: 10px;
}

.aboutMain {
    margin: 10px;
    padding: 1 50px;
    border: 5px #00674F groove;
    border-width: 125px;
    background-color: #00674F;
    color: lightgray;
    font-size: large;
    padding-bottom: 50px;
}

h2 {
    border-bottom: 5px gold double;
    width: 95%;
}