.aboutImg {
    width: 750px;
    border: 5px gold groove;
    padding: 0.5em;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 33%;
    height: auto;
}

.aboutMain {
    margin: 10px;
    padding: 50px;
    border: 1px gold groove;
    border-width: 5px;
    color: lightgray;
    font-size: large;
    padding-bottom: 50px;
    background: linear-gradient(to right, #034d3c, #10b795);
}

h2 {
    border-bottom: 5px gold double;
    width: 95%;
}