li {
    padding: 3px;
    margin: 3px;
}

label {
    padding-right: 6px;
    font-weight: bold;
}

form #submitButton {
    background-color:#00674F;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;

}

.dropdown:hover {
    background-color: #00674F;
    color: white;
}

#newListBlurb {
    margin-top: -100px;
}

#newlistbutton {
    background-color:gold;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -70px;
}