li {
    padding: 3px;
    margin: 3px;
    display:flex;
    flex-direction: column;
}

label {
    padding-right: 6px;
    font-weight: bold;
}

form #submitButton {
    background-color:#00674F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.dropdown:hover {
    background-color: #00674F;
    color: white;
}

#newListBlurb {
    margin-top: -100px;
}

#newlistbutton {
    background-color:gold;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin-top: 15px;
}

input {
    background: linear-gradient(145deg, #f8f8f8, #eaeaea);
    border-radius: 50px;
    padding: 10px 20px;
}

select:focus {
    border-color: #00674F;
    box-shadow: 0 0 5px rgba(0, 103, 79, 0.5);
    outline: none;
}
