@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* KEEP FOR TITLE
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal; */

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.body {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  min-width: 375px;
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
    font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

#titleWord{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #00674F !important;
  background-color: lightgray;
}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  background: linear-gradient(to right, #00674F, #0e8b72);
  list-style: none;
   box-shadow:
    /* The top layer shadow */
    0 3px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 1px 0 -5px #00674F,
    /* The second layer shadow */
    0 17px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 29px 0 -10px #00674F,
    /* The third layer shadow */
    0 30px 1px -9px rgba(0,0,0,0.3);
    /* Padding for demo purposes */
  margin-bottom:25px;
    
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid #00674F thin;
  size: 36px;
}

menu .nav-item {
  padding: 0 0.3em;
  color:#00674F;
  background-color: linear-gradient(to right, #00674F, black);
  margin-top: 0.3em;
}

.nav-item {
  background: #00674F;
  padding: 0.25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: solid 2px gold;  
  box-shadow: inset;
  margin-left: 10px;
}

.form-control {
  width: 200px;
}

.input {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1px;
}

footer {
  flex: 0 100px;
  background-color: #00674F;
  color: linear-gradient(to right, #00674F, #0e8b72);
  border:2px gold solid;
  padding: 0.3em;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.body {
  background-color:lightgray;
}

#footerDiv {
  background-color: #00674F;
  color:white;
}

#gitFooter {
  float: right;
}

.loginButton {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}

.btn.active {
  color: white;
}

select {
    background-size: 16px 16px;
    border-radius: 50px;
    padding: 10px 20px;
}

input {
    border-radius: 50px;
}

.uploads-box {
    position: fixed;        /* stays in place while scrolling */
    top: 100px;             /* adjust to below your header */
    right: 20px;            /* distance from the right edge */
    width: 200px;           /* width of the box */
    min-height: 150px;      /* some empty space */
    background-color: #f8f9fa;  /* light gray */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;          /* make sure it stays on top */
}

.uploads-content {
    margin-top: 10px;
    height: 100px;          /* reserve space for WebSocket updates */
    overflow-y: auto;       /* scroll if content exceeds */
}
