.biggerNumbers li::marker {
    font-size: 30px;
    font-weight: bold;
}

.bigNumbers li::marker {
    font-size: 25px;
    font-weight: bold;
}

.listBody {
  border:gold 1px, outset;
  padding: 20px 150px;
  margin: 10px;
  border-radius: 20px;
  border-width: 5px;
  background: linear-gradient(to right, #e9eaea, #00674F);
}

#edit {
    padding: 0.5em;
    margin: 3px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

#delete {
    padding: 0.5em;
    margin: 3px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: row;
}

form, button {
  display: inline-block;
  margin-right: 5px;
}

#edit {
    background-color:#00674F;
    color: lightgray;
}

img {
    width: 200px; 
    height: 300px; 
    padding: 0.5em;
    margin: 20px;
    border: 4px groove gold;
}

ul {
    list-style-type: none;
}

ol {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-position: inside;
  font-size: 20px;
}

